@using Coventry_University_Learning_Styles.HtmlHelpers

@{
    ViewBag.Title = "Coventry University Learning Styles";
}

<div class="jumbotron" style="font-size:large">
    <h1>Coventry University Learning Styles</h1>
    
    <br />
    
    <p>
        Welcome, this survey is designed to identify your learning styles and give recommendations to maximise learning potential.
    </p>
        
    <br />

    <p>
        All data collected is anonymous, with no personal data being collected.
    </p>  

    <br />

    <p>
        By continuing past this point you are agreeing to take part in the study.
    </p>
       
    <br />

    @Html.ActionImage("~/Content/start_button.png", "Start Survey", "Survey", "LearningStylesSurvey", new { })
</div>
